#root {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.custom-container {
    border: 2px solid #5d688a;
    height: 60vh;
    width: 50vw;
}

.custom-container-all-models {
    border: 2px solid #5D688A;
    height: 60vh;
    width: 40vw;
}

.inline-block {
    display: inline-block;
}

.position-data {
    vertical-align: top;
}

.list-group {
    max-height: 40vh;
    margin-bottom: 10px;
    overflow: scroll;
}

.list-group-item.active {
    background-color: #8c9cd0 !important;
    border-color: #8c9cd0 !important;
}

.navbar {
    background-image: linear-gradient(#5D688A, rgba(255, 255, 255, 0))
}

.button-with-padding {
    padding-left: 33%;
    padding-right: 35%;
}

.nav-item {
    color: white;
}

.btn-primary {
    background-color: #8c9cd0 !important;
    border-color: rgba(93, 104, 138, 0) !important;
    color: #ffffff !important;
}

.btn-primary:hover {
    background-color: #5D688A !important;
    border-color: rgba(93, 104, 138, 0) !important;
    color: #ffffff !important;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    margin-left: 1rem;
    margin-right: 1rem;
}

hr.separator {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    margin-left: 20rem;
    margin-right: 20rem;
}

.ReactModal__Overlay {
    z-index: 10000;
}